<div id="main-container">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> MIOGA Lieferanten </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Lieferanten</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">

      <div class="container-fluid">

        <div *ngFor="let zulieferer of zulieferer">
          <!-- row -->
          <div class="row" *ngVar="zulieferer.id as zuliefererID">
            <div class="col-12">
              <!-- Liferant 01 -->
              <div class="card">
                <div class="card-header">

                  <h3 class="card-title">
                    <i class="far fa-chart-bar"></i>
                    {{zulieferer.title}}
                  </h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body">

                  <div class="row">

                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                          <th>ID</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Contact</th>
                          <th>Belongs to</th>
                          <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                          <td>{{zulieferer.id}}</td>
                          <td>{{zulieferer.title}}</td>
                          <td>{{zulieferer.description}}</td>
                          <td>

                            <button id="showContactButton" class="btn btn-primary"
                                    (click)="getZuliefererContacts(zulieferer)" data-target="#modalID"
                                    data-toggle="modal">Show contacts
                            </button>

                          </td>
                          <td> {{zulieferer.belongsTo}}</td>

                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row for first Liferant end here -->    <!-- row -->
          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modalID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">

          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kontakten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="card-body pb-0" *ngFor="let contact of zuliefercontactList">
                  <div class="card bg-light d-flex flex-fill">
                    <!-- header Title-->
                    <div class="card-header text-muted border-bottom-0">
                      {{contact.company}}
                    </div>
                    <!-- card body -->
                    <div class="card-body pt-0">
                      <div class="row">
                        <div class="col-7">
                          <h2 class="lead"><b> {{contact.title}} {{contact.vorname}} {{contact.name}}</b></h2>
                          <p class="text-muted text-sm"><b> Beschreibung : </b> {{contact.description}} </p>
                          <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                              Email: {{contact.email}}
                            </li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Mobile:
                              : {{contact.mobile}}
                            </li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Tel:
                              : {{contact.telefone}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>


    <div class="row">
      <div class="col-12">

        <!--Button trigger model-->


      </div>
    </div>


    <!--------------- Add Zulieferer --------------->

    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addZuliefererModal">
      <div class="modal-dialog  modal-xl" role="document">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="addZuliefererModalLabel"> Add New Zulieferer</h4>
            <!-- Add Zulieferer Button -->
          </div>

          <!-- Modal body -->
          <div class="modal-body">

            <div class="container">

              <div class="row">
                <div class="col">
                  <h5 class="modal-title">Zulieferer Daten</h5>
                </div>
              </div>
            </div>

            <!-- Add Form Body -->
            <div class="modal-body">

              <!-- Add Zulieferer Form -->

              <form #addZuliefererForm="ngForm" (ngSubmit)="onZuliefererAndContact(addZuliefererForm)">
                <div class="card-body">

                  <!-- title -->
                  <div class="form-group">
                    <label for="titleAdd">Title *</label>
                    <input ngModel name="title" id="titleAdd" type="text" class="form-control"
                           placeholder="title"
                           required="required">
                  </div>

                  <!--description-->
                  <div class="form-group">
                    <label for="descriptionAdd">Description *</label>
                    <input ngModel name="description" id="descriptionAdd" type="text"
                           class="form-control"
                           placeholder="description" required="required">
                  </div>

                  <!-- Belongs To -->
                  <div class="form-group">
                    <label for="title">Gehört Zu</label>
                    <select class="form-control" ngModel name="belongsTo" id="belongsTo" placeholder="Ms">
                      <option>MIOGA</option>
                      <option>EMK</option>
                    </select>
                  </div>


                  <!-- timetableId -->
                  <div class="form-group">
                    <label for="timetableIdAdd">Time Table ID</label>
                    <input ngModel name="timetableId" id="timetableIdAdd" type="number"
                           class="form-control"
                           placeholder="Time Table ID">
                  </div>
                  <input ngModel name="contacts" id="contactsAdd" type="hidden" class="form-control">
                  <div>

                  </div>
                </div>
              </form>

              <button *ngIf="Kontakthinzufgen" type="button" class="btn btn-success" (click)="ContactForm()"> Kontakt hinzufügen</button>


              <form *ngIf="openContactForm" #addContactForm="ngForm" (ngSubmit)="onAddContact(addContactForm)">

                <div class="card-body">

                  <!-- Title -->
                  <div class="form-group">
                    <label for="title">Title</label>
                    <select class="form-control" ngModel name="title" id="title" placeholder="Ms">
                      <option>Ms</option>
                      <option>Mr</option>
                    </select>
                  </div>


                  <!-- First Name -->
                  <div class="form-group">
                    <label for="vorname">First Name</label>
                    <input ngModel name="vorname" id="vorname" type="text" class="form-control"
                           placeholder="First Name">
                  </div>

                  <!-- Last Name -->
                  <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input ngModel name="name" id="lastName" type="text" class="form-control"
                           placeholder="Last Name">
                  </div>

                  <!-- Email -->
                  <div class="form-group">
                    <label for="email">Email address</label>
                    <input ngModel name="email" id="email" type="email" class="form-control"
                           placeholder="Enter email">
                  </div>

                  <!-- Company -->
                  <div class="form-group">
                    <label for="company">Company</label>
                    <input ngModel name="company" id="company" type="text" class="form-control"
                           placeholder="Company">
                  </div>

                  <!-- Mobile -->
                  <div class="form-group">
                    <label for="mobile">Mobile</label>
                    <input ngModel name="mobile" id="mobile" type="text" class="form-control" placeholder="Mobile">
                  </div>

                  <!-- Telephone -->
                  <div class="form-group">
                    <label for="telephone">Telephone</label>
                    <input ngModel name="telefone" id="telephone" type="text" class="form-control"
                           placeholder="Telephone">
                  </div>

                  <!-- Description -->
                  <div class="form-group">
                    <label for="description">Description</label>
                    <input ngModel name="description" id="description" type="text" class="form-control"
                           placeholder="Description">
                  </div>

                  <!-- Anmerkung -->
                  <div class="form-group">
                    <label for="anmerkung">Anmerkung</label>
                    <input ngModel name="anmerkung" id="anmerkung" type="text" class="form-control"
                           placeholder="Anmerkung">
                  </div>
                </div>

                <!-- Submit button -->

                <button type="submit" class="btn btn-primary"> Contact Speicher</button>
              </form>


            </div>
          </div>

          <div class="modal-footer">

            <button (click)="onZuliefererAndContact(addZuliefererForm)" *ngIf="activethisbutton"
                    [disabled]="addZuliefererForm.invalid" type="submit"
                    class="btn btn-primary" id="submitbutton">
              Zulieferer Speicher
            </button>

            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>

        </div>
      </div>
    </div>


    <!--------------- Edit Zulieferer --------------->
    <div class="modal fade" id="updateZuliefererModal" tabindex="-1" role="dialog"
         aria-labelledby="zuliefererEditModalLabel" aria-hidden="true">

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateZuliefererModalLabel">Edit Zulieferer {{editZulieferer?.id}}</h5>
          </div>

          <div class="modal-body">
            <form #editForm="ngForm">

              <input type="hidden" ngModel="{{editZulieferer?.id}}" name="id" class="form-control" id="idEdit"
                     placeholder="id">

              <!-- title -->
              <div class="form-group">
                <label for="titleEdit">Title</label>
                <input type="text" ngModel="{{editZulieferer?.title}}" name="title" class="form-control"
                       id="titleEdit" placeholder="title">
              </div>

              <!--description-->
              <div class="form-group">
                <label for="descriptionEdit">Description</label>
                <input ngModel="{{editZulieferer?.description}}" name="description" id="descriptionEdit"
                       type="text"
                       class="form-control" placeholder="description">
              </div>

              <!-- belongs TO -->
              <div class="form-group">
                <label for="belongsTo">Title</label>
                <select name="belongsTo" ngModel="{{editZulieferer?.belongsTo}}" class="custom-select form-control-border"
                        id="belongsToEdit">
                  <option>MIOGA</option>
                  <option>EMK</option>
                </select>
              </div>
              <!-- uuid -->

              <input type="hidden" ngModel="{{editZulieferer?.uuid}}" name="uuid" id="uuidEdit"
                     class="form-control">

              <!-- Succeed at -->
              <div class="form-group">
                <input type="hidden" ngModel="{{editZulieferer?.successAt}}" name="successAt" id="succeedAtEdit"
                       class="form-control">
              </div>

              <!-- timetableId -->
              <div class="form-group">
                <label for="timetableIdEdit">Time Table ID</label>
                <input ngModel="{{editZulieferer?.timetableId}}" name="timetableId" id="timetableIdEdit"
                       type="text"
                       class="form-control"
                       placeholder="Time Table ID">
              </div>


              <div class="modal-footer">

                <!-- close Button for edit Form  -->
                <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>

                <!-- save Changes Button for Edit Form -->

                <button (click)="onUpdateZulieferer(editForm.value)" data-dismiss="modal"
                        class="btn btn-primary">
                  Save
                  changes
                </button>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>


    <!--------------- delete Zulieferer --------------->

    <div class="modal fade" id="deleteZulieferereModal" tabindex="-1" role="dialog"
         aria-labelledby="deleteModelLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete Contact {{deleteZulieferer?.id}}?</p>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteZulieferer(deleteZulieferer?.id)" class="btn btn-danger"
                      data-dismiss="modal">
                Yes
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Notification for no Zulieferer -->

    <div *ngIf="zulieferer?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Kein Zulieferer!</h4>


        <!--Button trigger model-->

      </div>
    </div>


  </div>
</div>





