<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="#" class="brand-link">
    <img src="assets/img/miogaLogo.png" alt="Mioga Logo"
         class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Mioga</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/dist/img/AdminLTELogo.png" class="img-circle elevation-5" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">AdminLTE 3</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-header">Lieferanten</li>
        <li class="nav-item">
          <a routerLink="/zulieferer" routerLinkActive="true" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Lieferant</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/connections" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Verbindung</p>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Statitik</p>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/downloads" class="nav-link">
            <i class="fas fa-circle nav-icon"></i>
            <p>Download</p>
          </a>
        </li>
        <li class="nav-item">
          <ul class="nav nav-treeview">
            <li class="nav-item">
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
