<div class="wrapper">
  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="assets/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="128" width="128">
  </div>

  <!-- Navigation bar with Bootstrap inside -->
    <app-navbar></app-navbar>
  <!-- Navigation bar with Bootstrap inside -->

  <!-- Main Sidebar Container -->
  <app-sidebar></app-sidebar>
  <!-- Main Sidebar Container -->



  <!-- Page Content <Body> -->

    <router-outlet></router-outlet>

  <!-- Page Content <Body> -->



  <div>
    <app-footer></app-footer>
  </div>

</div>


