<div id="main-container">
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> Lieferanten </h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Lieferanten</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">

      <div class="container-fluid">

        <div *ngFor="let zulieferer of zulieferer">
          <!-- row -->
          <div class="row" *ngVar="zulieferer.id as zuliefererID">
            <div class="col-12">
              <!-- Liferant 01 -->
              <div class="card">
                <div class="card-header">

                  <h3 class="card-title">
                    <i class="far fa-chart-bar"></i>
                    {{zulieferer.title}}
                  </h3>

                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body">

                  <div class="row">

                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                          <th>ID</th>
                          <th>Title</th>
                          <th>Description</th>
                          <th>Contact</th>
                          <th>Belongs to</th>
                          <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                          <td>{{zulieferer.id}}</td>
                          <td>{{zulieferer.title}}</td>
                          <td>{{zulieferer.description}}</td>
                          <td>

                            <button id="showContactButton" class="btn btn-primary"
                                    (click)="getZuliefererContacts(zulieferer)" data-target="#modalID"
                                    data-toggle="modal">Show contacts
                            </button>

                          </td>
                          <td> Migoa or EMK</td>
                          <td> <!-- The Two Button -->
                            <button (click)="onOpenModal(zulieferer, 'edit')" class="btn btn-primary"
                                    style="margin-right: 20px; ">
                              Edit <i class="fa fa-pencil-alt" style="margin-left: 10px;"></i></button>


                            <button (click)="onOpenModal(zulieferer , 'delete')" class="btn btn-danger"> delete <i
                              class="fa fa-times" style="margin-left:10px;"></i></button>

                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row for first Liferant end here -->    <!-- row -->
          </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="modalID" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">

          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kontakten</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="card-body pb-0" *ngFor="let contact of zuliefercontactList">
                  <div class="card bg-light d-flex flex-fill">
                    <!-- header Title-->
                    <div class="card-header text-muted border-bottom-0">
                      {{contact.company}}
                    </div>
                    <!-- card body -->
                    <div class="card-body pt-0">
                      <div class="row">
                        <div class="col-7">
                          <h2 class="lead"><b> {{contact.title}} {{contact.vorname}} {{contact.name}}</b></h2>
                          <p class="text-muted text-sm"><b> Beschreibung : </b> {{contact.description}} </p>
                          <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                              Email: {{contact.email}}
                            </li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Mobile:
                              : {{contact.mobile}}
                            </li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Tel:
                              : {{contact.telefone}}
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section>


    <div class="row">
      <div class="col-12">

        <!--Button trigger model-->

        <a (click)="onOpenModal(null, 'add')" type="button" class="btn btn-info btn-lg" data-toggle="modal"
           data-target="#myModal"
           style="position: absolute; right: 50px;"> Add </a>
      </div>
    </div>

  </div>
</div>





