<div id="main-container">
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1> Lieferanten </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Lieferanten</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid" *ngIf="isActiveOne;">

      <div *ngFor="let zulieferer of zulieferer">
        <!-- row -->
        <div class="row" *ngVar="zulieferer.id as zuliefererID">
          <div class="col-12">
            <!-- Liferant 01 -->
            <div class="card">
              <div class="card-header">

                <h3 class="card-title">
                  <i class="far fa-chart-bar"></i>
                  {{zulieferer.title}}
                </h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>

              <!-- /.card-header -->
              <div class="card-body">

                <div class="row">

                  <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Contact</th>
                        <th>Belongs to</th>
                        <th>Action</th>
                      </tr>
                      </thead>

                      <tbody>
                      <tr>
                        <td>{{zulieferer.id}}</td>
                        <td>{{zulieferer.title}}</td>
                        <td>{{zulieferer.description}}</td>
                        <td>

                          <!-- Large modal -->
                          <button type="button" class="btn btn-primary" data-toggle="modal"
                                  data-target=".bd-example-modal-lg">Large modal
                          </button>

                          <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                               aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                              <div class="modal-content">

                                <!--                                <div *ngVar="zulieferer.contacts as contacts">-->
                                <!--                                <div *ngVar="contacts.get(zulieferer.id) as contactList">-->

                                <!--                                <div *ngVar="let zuliefererID as zulieferer.id">-->

                                <div *ngFor="let contacts of getcurrentContactlist(zuliefererID)">
                                  <table class="table">
                                    <thead class="table-dark">
                                    <tr>
                                      <th>Title</th>
                                      <th>Vorname</th>
                                      <th>Name</th>
                                      <th>Email</th>
                                      <th>Company</th>
                                      <th>Mobile</th>
                                      <th>Telefone</th>
                                      <th>Description</th>
                                      <th>Anmerkung</th>
                                      <th>Updated at</th>
                                      <th>Succeed at</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                      <td>{{contacts.title}}</td>
                                      <td>{{contacts.vorname}}</td>
                                      <td>{{contacts.name}}</td>
                                      <td>{{contacts.email}}</td>
                                      <td>{{contacts.company}}</td>
                                      <td>{{contacts.mobile}}</td>
                                      <td>{{contacts.telefone}}</td>
                                      <td>{{contacts.description}}</td>
                                      <td>{{contacts.anmerkung}}</td>
                                      <td>{{contacts.updatedAt}}</td>
                                      <td>{{contacts.successAt}}</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>

                        </td>
                        <td> Migoa or EMK</td>


                        <td> <!-- The Two Button -->
                          <button (click)="onOpenModal(zulieferer, 'edit')" class="btn btn-primary"
                                  style="margin-right: 20px; ">
                            Edit <i class="fa fa-pencil-alt" style="margin-left: 10px;"></i></button>


                          <button (click)="onOpenModal(zulieferer , 'delete')" class="btn btn-danger"> delete <i
                            class="fa fa-times" style="margin-left:10px;"></i></button>

                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Collapsible Card Example</h3>
                  <div class="card-tools">
                    <!-- Collapse Button -->
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                  </div>
                  <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  The body of the card
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row for first Liferant end here -->    <!-- row -->
      </div>


      <!-- Main content -->
      <div class="row">
        <div class="col-md-12">

          <div class="row">
            <div class="col-12">

              <!--Button trigger model-->

              <a (click)="onOpenModal(null, 'add')" type="button" class="btn btn-info btn-lg" data-toggle="modal"
                 data-target="#myModal"
                 style="position: absolute; right: 50px;"> Add </a>
            </div>
          </div>


          <!--------------- Add Zulieferer --------------->
          <div class="modal" id="addZuliefererModal">
            <div class="modal-dialog  modal-xl">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" id="addZuliefererModalLabel"> Add New Zulieferer</h4>

                  <!-- Add Zulieferer Button -->

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                  <div class="container">

                    <div class="row">
                      <div class="col">
                        <h5 class="modal-title">Zulieferer Daten</h5>
                      </div>
                      <div class="col">
                        <h5 class="modal-title">Add Contact</h5>
                      </div>
                    </div>
                  </div>

                  <!-- Add Form Body -->
                  <div class="modal-body">
                    <div class="row">

                      <!--  left -->
                      <div class="col">

                        <!-- Add Form -->

                        <form #addZuliefererForm="ngForm" (ngSubmit)="onAddZulieferer(addZuliefererForm)">
                          <div class="card-body">

                            <!-- title -->
                            <div class="form-group">
                              <label for="titleAdd">Title *</label>
                              <input ngModel name="title" id="titleAdd" type="text" class="form-control"
                                     placeholder="title"
                                     required="required">
                            </div>

                            <!--description-->
                            <div class="form-group">
                              <label for="descriptionAdd">Description *</label>
                              <input ngModel name="description" id="descriptionAdd" type="text" class="form-control"
                                     placeholder="description" required="required">
                            </div>


                            <!-- timetableId -->
                            <div class="form-group">
                              <label for="timetableIdAdd">Time Table ID</label>
                              <input ngModel name="timetableId" id="timetableIdAdd" type="text" class="form-control"
                                     placeholder="Time Table ID">
                            </div>
                          </div>
                          <!-- Submit button -->

                          <div class="modal-footer d-flex justify-content-center ">
                            <button type="button" id="add-zulieferer-form" class="btn btn-secondary"
                                    data-dismiss="modal">
                              Close
                            </button>
                            <button [disabled]="addZuliefererForm.invalid" type="submit" class="btn btn-primary ">Save
                              changes
                            </button>
                          </div>
                        </form>

                      </div>

                      <!-- Right For Contact -->
                      <div class="col">
                        <form #addContactForm="ngForm" (ngSubmit)="onAddContact(addContactForm)">
                          <div class="card-body">

                            <!-- Title -->
                            <div class="form-group">
                              <label for="title">Title</label>
                              <select name="title" class="custom-select form-control-border" id="title">
                                <option>Ms</option>
                                <option>Mr</option>
                              </select>
                            </div>

                            <!-- First Name -->
                            <div class="form-group">
                              <label for="vorname">First Name</label>
                              <input ngModel name="vorname" id="vorname" type="text" class="form-control"
                                     placeholder="First Name">
                            </div>

                            <!-- Last Name -->
                            <div class="form-group">
                              <label for="lastName">Last Name</label>
                              <input ngModel name="name" id="lastName" type="text" class="form-control"
                                     placeholder="Last Name">
                            </div>

                            <!-- Email -->
                            <div class="form-group">
                              <label for="email">Email address</label>
                              <input ngModel name="email" id="email" type="email" class="form-control"
                                     placeholder="Enter email">
                            </div>

                            <!-- Company -->
                            <div class="form-group">
                              <label for="company">Company</label>
                              <input ngModel name="company" id="company" type="text" class="form-control"
                                     placeholder="Company">
                            </div>

                            <!-- Mobile -->
                            <div class="form-group">
                              <label for="mobile">Mobile</label>
                              <input ngModel name="mobile" id="mobile" type="text" class="form-control"
                                     placeholder="Mobile">
                            </div>

                            <!-- Telephone -->
                            <div class="form-group">
                              <label for="telephone">Telephone</label>
                              <input ngModel name="telefone" id="telephone" type="text" class="form-control"
                                     placeholder="Telephone">
                            </div>

                            <!-- Description -->
                            <div class="form-group">
                              <label for="description">Description</label>
                              <input ngModel name="description" id="description" type="text" class="form-control"
                                     placeholder="Description">
                            </div>

                            <!-- Anmerkung -->
                            <div class="form-group">
                              <label for="anmerkung">Anmerkung</label>
                              <input ngModel name="anmerkung" id="anmerkung" type="text" class="form-control"
                                     placeholder="Anmerkung">
                            </div>


                          </div>

                          <!-- Submit button -->

                          <div class="modal-footer">
                            <button type="button" id="add-contact-form" class="btn btn-secondary" data-dismiss="modal">
                              Close
                            </button>
                            <button [disabled]="addContactForm.invalid" type="submit" class="btn btn-primary">Save
                              changes
                            </button>
                          </div>
                        </form>
                      </div>

                    </div>
                    <!-- Body Form closed -->
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--------------- Edit Zulieferer --------------->
      <div class="modal fade" id="updateZuliefererModal" tabindex="-1" role="dialog"
           aria-labelledby="zuliefererEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateZuliefererModalLabel">Edit Zulieferer {{editZulieferer?.id}}</h5>
            </div>

            <div class="modal-body">
              <form #editForm="ngForm">

                <input type="hidden" ngModel="{{editZulieferer?.id}}" name="id" class="form-control" id="idEdit"
                       placeholder="id">

                <!-- title -->
                <div class="form-group">
                  <label for="titleEdit">Title</label>
                  <input type="text" ngModel="{{editZulieferer?.title}}" name="title" class="form-control"
                         id="titleEdit" placeholder="title">
                </div>

                <!--description-->
                <div class="form-group">
                  <label for="descriptionEdit">Description</label>
                  <input ngModel="{{editZulieferer?.description}}" name="description" id="descriptionEdit" type="text"
                         class="form-control" placeholder="description">
                </div>

                <!-- uuid -->

                <input type="hidden" ngModel="{{editZulieferer?.uuid}}" name="uuid" id="uuidEdit"
                       class="form-control">

                <!-- Succeed at -->
                <div class="form-group">
                  <input type="hidden" ngModel="{{editZulieferer?.successAt}}" name="successAt" id="succeedAtEdit"
                         class="form-control">
                </div>

                <!-- timetableId -->
                <div class="form-group">
                  <label for="timetableIdEdit">Time Table ID</label>
                  <input ngModel="{{editZulieferer?.timetableId}}" name="timetableId" id="timetableIdEdit" type="text"
                         class="form-control"
                         placeholder="Time Table ID">
                </div>


                <div class="modal-footer">

                  <!-- close Button for edit Form  -->
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>

                  <!-- save Changes Button for Edit Form -->

                  <button (click)="onUpdateZulieferer(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
                    changes
                  </button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>


      <!--------------- delete Zulieferer --------------->

      <div class="modal fade" id="deleteZulieferereModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
           aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModelLabel">Delete Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete Contact {{deleteZulieferer?.id}}?</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteZulieferer(deleteZulieferer?.id)" class="btn btn-danger" data-dismiss="modal">
                  Yes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- Notification for no Zulieferer -->

      <div *ngIf="zulieferer?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
          <h4 class="alert-heading">Kein Zulieferer!</h4>
          <p>No Zuliefer were found , Do you like to Add one ?</p>


          <!--Button trigger model-->

          <a (click)="onOpenModal(null, 'add')" type="button" class="btn btn-info btn-lg" data-toggle="modal"
             data-target="#myModal"
             style="position: absolute; right: 50px; margin-top: 30px;"> Add </a>
        </div>
      </div>
    </div>
  </section>

  <section class="content" *ngIf="isActiveTwo;" >
    <div class="container-fluid">

      <span *ngFor="let zulieferer of zulieferer">
        <div class="row">
          <div class="col-12">
            <!-- Custom Tabs -->
            <div class="card">
              <div class="card-header d-flex p-0">
                <h3 class="card-title p-3">{{zulieferer.title}}</h3>
                <ul class="nav nav-pills ml-auto p-2">
                  <li class="nav-item"><a class="nav-link active" href="{{zulieferer.id}}" data-toggle="tab">Show ID</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{zulieferer.title}}"
                                          data-toggle="tab">{{zulieferer.title}}</a></li>
                  <li class="nav-item"><a class="nav-link" href="{{zulieferer.description}}" data-toggle="tab">description</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                      Dropdown <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" tabindex="-1" href="#">Action</a>
                      <a class="dropdown-item" tabindex="-1" href="#">Another action</a>
                      <a class="dropdown-item" tabindex="-1" href="#">Something else here</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" tabindex="-1" href="#">Separated link</a>
                    </div>
                  </li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="{{zulieferer.id}}">
                    <h3>{{zulieferer.id}}</h3>
                  </div>

                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="{{zulieferer.title}}">
                  {{zulieferer.title}}
                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="{{zulieferer.description}}">
                  {{zulieferer.description}}
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- ./card -->
          </div>
          <!-- /.col -->
        </div>
      </span>


    </div>
  </section>


</div>
</div>



